@model DashAtendimentos
@{
    ViewData["Title"] = "Dashboard Atendimentos";
}

<h1>Index</h1>

<div class="container">
    <h1>Dashboard Atendimentos</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Total</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Total</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger  mb-3" style="max-width: 18rem;">
                <div class="card-header">Abertos</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.EmbAberto</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
                <div class="card-header">Finalizados</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Finalizados</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>