@model List<Chamado>
@{
    ViewData["Title"] = "Index";
}

<h1>Chamados</h1>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Consulta</th>
        <th>Data de Criação</th>
        <th>Descrição do Chamado</th>
        <th>Ticket</th>
        <th>Status do Chamado</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th class="text-center" style="width: 10%">C</th>
            <th class="text-center" style="width: 20%">@item.DatacCriacao.ToShortDateString()</th>
            <th style="width: 50%">@item.Descricao</th>
            <th class="text-center" style="width: 10%">@item.Ticket</th>
            <th class="text-center" style="width: 10%">@item.Status</th>
        </tr>
    }

</table>